body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
  /* position: fixed;
  width: 100%; 
  z-index: 1000;  */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: 1rem;
}


.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #222;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: white;
}
